
html {
  text-align: center;
  font-family: "Helvetica";
}

h1 {
  background-color: #1264A9;
  margin: 0px;
  padding: 5px;
  color: white;
}

input {
	padding: 10px;
	font-size: 18px;
	margin: 0.75vw;
	border-radius: 10px;
}

input[type="text"] {
 text-align: center;
 font-size: 36px;
}

